<% if current_student || current_staff || current_admin %>
<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Show this department", department %>
    </p>
  <% end %>
</div>

<% if current_admin %>
  <%= link_to "New department", new_admin_department_path(current_admin) %>
<% end %>
<% else %>
  <p>Log in to view departments</p>
<% end %>