<% if current_admin %>
<h1>New department</h1>

<%= render "form", department: @department %>

<br>

<div>
  <%= link_to "Back to departments", departments_path %>
</div>
<% else %>
  <p>Only Admins can Add departments</p>
<% end %>