<% if current_admin %>
  <section>
    <h2>Admin Dashboard</h2>
  </section>
  <section>
    <h1>My Departments</h1>
    <% @departments.each do |department| %>
      <%= render department %>
    <% end %>
    <%= link_to 'Add New Department', new_admin_department_path(current_admin)%>
  </section>
  <section></section>
<% end %>
