<h1>Editing staff course</h1>

<%= render "form", staff_course: @staff_course %>

<br>

<div>
  <%= link_to "Show this staff course", @staff_course %> |
  <%= link_to "Back to staff courses", staff_courses_path %>
</div>
